// Place all the styles related to the profiele controller here.
// They will automatically be included in application.css.


h1{color:#0033ee;
height: 20px;
margin: 80px;
width: 40px;
}
// You can use Sass (SCSS) here: http://sass-lang.com/
