
body{
  margin: 0;
　padding: 0;
　height: 100%;
  width: 100%;
}
#wrapper{
  width:100%;
  margin:0 auto;
}
#top{
  background: image-url("../assets/bg3.png") no-repeat 0 0;
  background-size: cover;
  width: auto;
  height: 100vh;
  margin:0;
  padding:0;
}

#menubar{
  width: 100%;

}


ul{
　list-style:none;
  margin-left: auto;
  margin-top: 0;
}

li{
    display: inline-table;;
    margin-right: 50px;
}



.about_me{
  margin-left:350px;
}

.contact{
  margin-right: 0px;
}

#profile {
  width: 100%;
  height: 700px;
  background-color: #616161;
}

.logo{
  text-align: center;
}
#logo{
position: relative;
top: 150px;
}


#ore{
  margin-top: 100px;
}

.cdore{
  position: relative;
  z-index: 2;
  float: left;

}

.bdore{
  position: relative;
  margin-left: -200px;
  z-index: 0;
  float: left;

}
#ptext{
  position: relative;
  width: 550px;
  height:350px;
  margin-top: 175px;
  margin-left: 350px;
  background-color: #e5e5e5;
  float: left;

  /* border-radius */
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;

  /* box-shadow */
  box-shadow:rgba(113, 135, 164, 0.65098) 0px 0px 6px 3px;
  -webkit-box-shadow:rgba(113, 135, 164, 0.65098) 0px 0px 6px 3px;
  -moz-box-shadow:rgba(113, 135, 164, 0.65098) 0px 0px 6px 3px;
}

.hello {
  padding:20px 0px 0px 40px;
  color: #616161;
  font-size: 20px;
}
.p1text{
  font-size: 16px;
  color: #313131;
  padding:5px 0px 0px 45px;
}

#plink{
  position: relative;
  z-index: 2;
  margin-right: 100px;
  padding-top: 400px;
}

.plinkto{
  width:50px;
  height:100px;
  background-color:#3d3d3d;
}

#plinkto{
  padding-left: 600px;
  bottom:50px;
  position: relative;
}

.linkall{
}

.linkall{
  padding-left: 15px;
}

#portfolioscript{
  height: 125px;
  width:100%;
  background-color: #fff;
  position: relative;
  bottom: 50px;
}

h2{
  text-align: center;
  font-size: 72px;
  font-family: New Gulim;

  color: #656363;
}

h3{
  text-align: center;
  font-size: 18px;
  color: #656363;
  position: relative;
  bottom: 20px;
}


header{
  height: 50vh;
  background-color: #3e3e3e;
}

header{
    height:32px;
    overflow:hidden;
    background:#e1e1e1;
    background:-webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#e1e1e1));
    background:-moz-linear-gradient(top,  #d1d1d1,  #e1e1e1);
    padding:0 5px;
    }
// header h1{
    // line-height:32px;
    // font-size:14px;
    // text-shadow:0 1px 0 #fff;
    // text-align:center;
  // 　}

nav{
    height:28px;
    overflow:hidden;
    }
nav ul{
    margin:0;
    padding:0 5px;
    width:100%;
    height:28px;
    -moz-box-shadow:inset 0 2px 2px #999;
    -webkit-box-shadow:inset 0 2px 2px #999;
    box-shadow:inset 0 2px 2px #999;
    background:#bbb;
    }
nav li{
    list-style:none;
    float:left;
    height:24px;
    line-height:24px;
    -moz-box-shadow:0 0 3px #888;
    -webkit-box-shadow:0 0 3px #888;
    box-shadow:0 0 3px #888;
    -webkit-border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    margin:0 2px;
    width:100px;
    overflow:hidden;
    position:relative;
    background:#ccc;
    background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
    background:-moz-linear-gradient(top,  #ccc,  #aaa);
    }
nav li a, nav li a:visited, nav li a:hover{
    list-style:none;
    text-decoration:none;
    display:block;
    position:absolute;
    top:0;
    left:-2px;
    height:24px;
    line-height:24px;
    width:102px;
    text-align:center;
    color:#333;
    font-size:11px;
    text-shadow:#e8e8e8 0 1px 0;
    -moz-box-shadow:inset 0 1px 1px #888;
    -webkit-box-shadow:inset 0 1px 1px #888;
    box-shadow:inset 0 1px 1px #888;
    }
nav li.selected{
    background:#e1e1e1;
    background:-webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#d1d1d1));
    background:-moz-linear-gradient(top,  #e1e1e1,  #d1d1d1);
    }
nav li.selected a{
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    }
nav li a:focus{outline:none;}


//アコーディオン

/*Now the styles*/
* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	font-family: arial, verdana, tahoma;
}

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
	width: 80vw; height: 70vh;
	overflow: hidden;

	/*Time for some styling*/
  margin: 0 auto 50px auto ;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;

	border-left: 1px solid #888;

	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;
width: 640px;

}
.image_title p {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}


//タブ
body {
    background: #eeeeee;
}
.tabs {
    position: relative;
    padding: 0;
    height: 100vh;
    width: 100%;
}
.tabs li {
    list-style: none;
    display: inline-block;
}
.tabs input[type=radio] {
    display: none;
}
.tabs label {
    display: block;
    cursor: pointer;
    padding: 5px;
    line-height: 20px;
    background-color: #999999;
    color: #ffffff;
}
.tabs label:hover {
    background-color: #cccccc;
    color: #000000;
}
.tabs input[type=radio]:checked + label {
    background-color: #ffffff;
    color: #000000;
}
.tabs .contents {
    display: none;
    position: absolute;
    top:30px;
    left: 0;
    padding: 10px;
    background: #ffffff;
}
.tabs input[type=radio]:checked + label + .contents{
    display: block;
    margin-top: 50px;
}

label{
  margin-right: -40px;
}
